---
# This is my first playbook

# HEADER SECTION
 - name: This play will create a file
   hosts: webservers

# TASK SECTION
   tasks:
     - name: Creating a file called helloworld.html
       file:
         path: /opt/ansible
         state: directory
         owner: root
         group: root
         mode: 0755
